<% 
  sent_by = message.try(:sent_by) || '{{sent_by}}'
  content = message.try(:content) || '{{content}}'
%>

<div class="message-line">
  <p><%= sent_by %></p>
  <p class="alert alert-primary"><%= content %></p>
</div>