<%
  sent_by    = message.try(:sent_by) || '{{sent_by}}'
  content    = message.try(:content) || '{{content}}'
  sent_at    = message.try(:sent_at) || message.try(:created_at) || '{{sent_at}}'
%>
<div class="incoming_msg">
  <div class="incoming_msg_img"><i class="fa fa-user-circle avatar"></i></div>
  <div class="received_msg">
    <p class="msg-sent-by"><%= sent_by %></p>
    <div class="received_withd_msg">
      <p title="Sent at <%= sent_at %>"><%= content %></p>
    </div>
  </div>
</div>
