<!-- Add users to room modal -->
<a class="btn btn-light" data-toggle="modal" data-target="#addUsers">
  <i class="fa fa-plus" aria-hidden="true"></i>
  Add users
</a>

<div class="modal fade" id="addUsers">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-add-users-form">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(url: add_users_rooms_path, model: Room.new, method: :post, id: 'add-user-form') do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :add_users %>
            <%= form.select :user_ids, [], { }, multiple: true, class: 'form-control' %>
          </div>
        </div>

        <div class="modal-footer">
          <%= form.submit 'Add', name: :and, class: 'btn btn-info' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<!-- END -->
