body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  * {
    border-bottom: 1px solid red !important;
    color: red !important;
  }
}

#error_explanation {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
}

#error_explanation {
  ul {
    padding: 0px 10px 0px 15px;

    li {
      font-size: 12px;
      list-style: square;
      color: red;
      list-style-type: circle;
    }
  }
}

label {
  display: block; }
